<h1 class="mt-4">Serviços prestados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>

<div class="container">
    
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Service saved successfully !
                </div>    
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>        
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Client: </label>
                    <select class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="product.idClient">
                        <option value="">Selecione</option>
                        <option *ngFor="let client of clients" [ngValue]="client.id">
                            {{client.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: </label>
                    <input type="text" class="form-control" [(ngModel)]="product.description" name="description" id="inputDescri">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data: </label>
                    <input type="text" class="form-control" [(ngModel)]="product.data" name="data" id="inputData">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor: </label>
                    <input type="text" class="form-control" [(ngModel)]="product.price" name="valor" id="valor">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Save
                </button>
           
                <button type="button" class="btn btn-warning ml-1" routerLink="/products/list">
                    <i class="fa fa-arrow-alt-circle-left"></i> Back
                </button>
            </div>
        </div>

    </form>
</div>

